@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #f8f8f8;
    --secondry-color: #ededed;
    --border: solid 3px rgba(89, 88, 88, 0.56);
}

#cvtem {
    background-color: #597b6a;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cvtemp {
    font-size: 50px;
    font-weight: bolder;
    color: white;
}

#top {
    height: auto;
    background: var(--primary-color);
    border-bottom: var(--border);
}

#perinfo {
    display: flex;
    align-items: center;
    margin-left: 119px;
}

#perinfo img {
    width: 200px;
    margin: 35px;
    margin-left: 240px;
    margin-bottom: 0;
}

#picname {
    display: flex;
    flex-direction: column;
}

#picname span {
    font-weight: bolder;
    font-size: xxx-large;
    color: ;
    margin-left: 248px;
    padding-bottom: 25px;
}

#jobrole {
    display: flex;
    flex-direction: column;
}

#role {
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 190px;
    color: var(--text-primary);
}
#role1{
    font-size: larger;
    margin-left: 190px;
}

#cvsum{
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 190px;
    margin-top: 40px;
}
#cvsum1{
    font-size: larger;
    margin-left: 190px;
}
#left {
    width: 50vw;
    height: auto;
    background-color: var(--secondry-color);
    border-right: var(--border);
}

#proexp1 {
    font-size: xx-large;
    font-weight: bold;
    display: block;
    padding-top:70px;
    padding-left: 100px;
    padding-bottom: 30px;
}
#profexp1{
    font-size: x-large;
    display: block;
    padding-top: 20px;
    padding-left: 100px;
    font-weight: bold;
}
#profexpe1{
    font-size: larger;
    padding-top: 20px;
    padding-left: 100px;

}
#profexper1{
    padding-top: 10px;
    padding-left: 130px;
    padding-bottom: 40px;
    font-size: large;
}
#skill{
    font-size: xx-large;
    font-weight: bold;
    display: block;
    padding-top:70px;
    padding-left: 100px;
    padding-bottom: 30px;
}
#skill1{
    padding-top: 10px;
    padding-left: 170px;
    padding-bottom: 40px;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 150px;
}